.wave {
  background: url("../assets/wave1.svg");
  background-size: contain;
  /* background-repeat: repeat-x; */
  /* position: absolute; */
  bottom: 0px;
  left: 0px;
  width: 3200px;
  height: 198px;
  /* animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite; */
  /* transform: translate3d(0, 0, 0); */
}

/* .wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
} */

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
